.header {font-family: "RALEWAY"; color: #0D2C40; font-size: 45 px; font-weight: 400; letter-spacing: 1 px}

.links {font-family: "RALEWAY"; color: #F15B31; letter-spacing: 1 px; font-weight: 600; font-size: 18 px; text-decoration: none;}

.textheader {font-family: "RALEWAY"; color: #0D2C40; letter-spacing: 1 px; font-weight: 600; font-size: 20 px;}

.text {font-family: "DROID SERIF"; line-height: 26 PX; font-size: 18 PX;}

body {text-align: center;}

